.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
	color: #61dafb;
}
.container {
	padding: 5vh 5vw;
}
.grid {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10%;
	display: grid;
	justify-content: space-between;
	align-content: center;
	grid-template-columns: 1fr;
	grid-gap: 5vh;
}
.grid-item {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	border: 1px solid slategrey;
	/* border-radius: 50px;
	box-shadow: inset -2px 2px 30px 20px #61dafb; */
}
.grid img {
	max-width: 200px;
	height: 200px;
}
h1 {
	text-align: center;
}
/* 
@media screen and (min-width:320px) {
	.grid {
		grid-template-columns: 1fr;
		grid-gap: 10vh;
	}
}
@media screen and (min-width:480px) {
	.grid {
		grid-template-columns: 1fr;
		grid-gap: 10vh;
	}
}
@media screen and (min-width:768px) {
	.grid {
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
	}
}
@media screen and (min-width:1024px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2vw;
	}
}
@media screen and (min-width:1200px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 2vw;
	}
}
 */
